<?php
/**
 * The default template for displaying content
 *
 * Used for both single and index/archive/search.
 *
 * @package WordPress
 * @subpackage Twenty_Fifteen
 * @since Twenty Fifteen 1.0
 */
?>

<article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
	<?php
		// Post thumbnail.
		twentyfifteen_post_thumbnail();
	?>

	<header class="entry-header">
		<?php
			if ( is_single() ) :
				the_title( '<h1 class="entry-title">', '</h1>' );
			else :
				the_title( sprintf( '<h2 class="entry-title"><a href="%s" rel="bookmark">', esc_url( get_permalink() ) ), '</a></h2>' );
			endif;
		?>
	</header><!-- .entry-header -->

	<div class="entry-content">

		<?php
		// ===================================
		/* Start WP-Movies metadata display */
		// ===================================
		$movie = new Movie( get_the_ID() );
		if( $movie->tmdb_id ):
		?>
		<div id="movie-info">
		<?php if( $movie->overview ): ?>
		<h3>Synopsis</h3>
		<p><?php echo $movie->overview ?></p>
		<?php endif; ?>
		<h3>More about the movie</h3>
		<ul>
			<?php if($movie->genres): ?>
			<li><?php echo implode(", ", $movie->genres); ?></li>
			<?php endif; ?>
			<?php if($movie->runtime): ?>
			<li><?php echo $movie->runtime; ?> minutes</li>
			<?php endif; ?>
			<?php if($movie->languages): ?>
			<li>Spoken language(s): <?php echo implode(", ", $movie->languages); ?></li>
			<?php endif; ?>
			<?php if($movie->imdb_id): ?>
			<li><a href="http://imdb.com/title/<?php echo $movie->imdb_id; ?>/">IMDb page</a></li>
			<?php endif; ?>
		</ul>
		</div>
		<?php
		endif;
		// ===================================
		/* End WP-Movies metadata display */
		// ===================================
		?>
	
		<?php
			/* translators: %s: Name of current post */
			the_content( sprintf(
				__( 'Continue reading %s', 'twentyfifteen' ),
				the_title( '<span class="screen-reader-text">', '</span>', false )
			) );

			wp_link_pages( array(
				'before'      => '<div class="page-links"><span class="page-links-title">' . __( 'Pages:', 'twentyfifteen' ) . '</span>',
				'after'       => '</div>',
				'link_before' => '<span>',
				'link_after'  => '</span>',
				'pagelink'    => '<span class="screen-reader-text">' . __( 'Page', 'twentyfifteen' ) . ' </span>%',
				'separator'   => '<span class="screen-reader-text">, </span>',
			) );
		?>
	</div><!-- .entry-content -->

	<?php
		// Author bio.
		if ( is_single() && get_the_author_meta( 'description' ) ) :
			get_template_part( 'author-bio' );
		endif;
	?>

	<footer class="entry-footer">
		<?php twentyfifteen_entry_meta(); ?>
		<?php edit_post_link( __( 'Edit', 'twentyfifteen' ), '<span class="edit-link">', '</span>' ); ?>
	</footer><!-- .entry-footer -->

</article><!-- #post-## -->
